In [24]:
import os
import re
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# import seaborn as sns
from glob import glob

In [8]:
files = glob('../data/*.csv')

In [10]:
CodeSystem = pd.read_csv(files[0])
Coding = pd.read_csv(files[1])
Code = pd.read_csv(files[2])

In [12]:
CodeSystem.head()

              codeIDs projectType           project  maxCodeID
0                 NaN    EXERCISE  4891183635496960          1
1  [5979950507098112]    EXERCISE  4558373106221056         93
2  [6544890859094016]    EXERCISE  4730317776617472         21
3  [5181273236570112]    EXERCISE  5182713057247232          1
4                 NaN     PROJECT  6731719157743616          1

In [15]:
Code.head()

,author,codeID,message,codesystemID,relations,parentID,memo,localId,mmElementIDs,color,relationshipCode,isFavored,codeBookEntry,subCodeIDs,isDraft,mmElementID
0,Irene Kuo,NaN,3. Reflective constructs should have measures ...,6048371013844992,NaN,58.0,NaN,52,NaN,#000000,NaN,False,"<Key('Code', 4503604153024512, 'CodeBookEntry'...",NaN,NaN,NaN
1,Andreas Kaufmann,NaN,naming of concepts,5576568780881920,NaN,117.0,NaN,120,NaN,#000000,NaN,NaN,"<Key('Code', 4503708297592832, 'CodeBookEntry'...",NaN,NaN,NaN
2,Dhruv Kumar Sharma,NaN,Rigor evaluation,6264574852464640,NaN,10.0,NaN,15,NaN,#000000,NaN,False,"<Key('Code', 4503790111686656, 'CodeBookEntry'...",NaN,NaN,NaN
3,Alejandro Guzmán,NaN,Venn diagram,6425415002357760,NaN,13.0,NaN,22,NaN,#0d9e0b,NaN,False,"<Key('Code', 4503828900610048, 'CodeBookEntry'...",NaN,NaN,NaN
4,Aayushi Shah,NaN,Reasons why inductive method cannot be sustained.,5117597443948544,NaN,13.0,NaN,16,NaN,#000000,NaN,False,"<Key('Code', 4504464438329344, 'CodeBookEntry'...",NaN,NaN,NaN

In [13]:
Coding.head()

,documentId,author,projectType,projectId,pos2,preview,pos1,localCodeId,codesystemId,startKey,...,DISCRIMINATOR,timestamp,page2,page1,y,width,height,x,page,codeId
0,4578933374713856,Juanming Zhou,VALIDATION,5741783069753344,1375.0,b'\xac\xed\x00\x05t\x05_My personal experience...,0.0,21.0,5.647464e+15,131.0,...,com.qdacity.project.codesystem.coding.SlateTex...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4914436269670400,Ricardo Lang,EXERCISE,5176123761623040,327.0,"b'\xac\xed\x00\x05t\x01@Yes, there is one resp...",7.0,30.0,5.069943e+15,109.0,...,com.qdacity.project.codesystem.coding.SlateTex...,2023-05-15 07:19:24.380000+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5517531435499520,Andreas Kaufmann,PROJECT,5663542485188608,22.0,"b""\xac\xed\x00\x05t\x03\xf9yself again. My nam...",0.0,4.0,5.708876e+15,2.0,...,com.qdacity.project.codesystem.coding.SlateTex...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6480197587042304,Emre Peker,REVISION,5934862687010816,190.0,b'\xac\xed\x00\x05t\x01Thow did he get to the ...,0.0,33.0,4.839928e+15,70.0,...,com.qdacity.project.codesystem.coding.SlateTex...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6341188856578048,Julia K,REVISION,5166777696780288,201.0,"b""\xac\xed\x00\x05t\x01\xcfBei allen dreien [D...",0.0,17.0,5.703420e+15,43.0,...,com.qdacity.project.codesystem.coding.SlateTex...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
def clean_text(text):
    hex_characters = re.findall(r'\\x([0-9a-fA-F]{2})', text)
    bytes_object = bytes.fromhex(''.join(hex_characters))
    re.sub(str(bytes_object), '', text)
    return text

In [126]:
import re

def clean_preview(text) -> str:
    # remove b' and \n
    cleaned_text = re.sub(r"b'\\[xX][0-9a-fA-F]+", '', text)
    return cleaned_text[17:].strip()

# clean_previes(Coding['preview'].iloc[1])
text = Coding['preview'].iloc[1]
cleaned_text = clean_preview(text)
print(cleaned_text)

@Yes, there is one responsible person that in the end can say that from the usability point of view, it must look like this". And then there is a decision. Especially in the UX, in the end there must be a final say. It\'s not black and white. Sometimes you can see it this way, I can see it in another way and both are ok.'

In [136]:
# # Convert 'codeID' columns to string
# CodeSystem['codeIDs'] = CodeSystem['codeIDs'].astype(int)
# Code['codeIDs'] = Code['codeIDs'].astype(int)

# Drop rows with 'None' or 'NaN' in 'codeID' or 'codeIDs' columns
CodeSystem = CodeSystem.dropna(subset=['codeIDs'])
Code = Code.dropna(subset=['codeID'])

merged_df = pd.merge(CodeSystem, Code, left_on='codeIDs', right_on='codeID')

In [138]:
merged_df.head()

,codeIDs,projectType,project,maxCodeID,author,codeID,message,codesystemID,relations,parentID,memo,localId,mmElementIDs,color,relationshipCode,isFavored,codeBookEntry,subCodeIDs,isDraft,mmElementID
0,nan,EXERCISE,4891183635496960,1,Irene Kuo,nan,3. Reflective constructs should have measures ...,6048371013844992,NaN,58.0,NaN,52,NaN,#000000,NaN,False,"<Key('Code', 4503604153024512, 'CodeBookEntry'...",NaN,NaN,NaN
1,nan,EXERCISE,4891183635496960,1,Andreas Kaufmann,nan,naming of concepts,5576568780881920,NaN,117.0,NaN,120,NaN,#000000,NaN,NaN,"<Key('Code', 4503708297592832, 'CodeBookEntry'...",NaN,NaN,NaN
2,nan,EXERCISE,4891183635496960,1,Dhruv Kumar Sharma,nan,Rigor evaluation,6264574852464640,NaN,10.0,NaN,15,NaN,#000000,NaN,False,"<Key('Code', 4503790111686656, 'CodeBookEntry'...",NaN,NaN,NaN
3,nan,EXERCISE,4891183635496960,1,Alejandro Guzmán,nan,Venn diagram,6425415002357760,NaN,13.0,NaN,22,NaN,#0d9e0b,NaN,False,"<Key('Code', 4503828900610048, 'CodeBookEntry'...",NaN,NaN,NaN
4,nan,EXERCISE,4891183635496960,1,Aayushi Shah,nan,Reasons why inductive method cannot be sustained.,5117597443948544,NaN,13.0,NaN,16,NaN,#000000,NaN,False,"<Key('Code', 4504464438329344, 'CodeBookEntry'...",NaN,NaN,NaN

In [140]:
final_df = pd.merge(merged_df, Coding, left_on='codesystemID', right_on='codesystemId')

:

### queries:
- mapping of the code vs numerical
-